.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-justify {
	text-align: justify !important;
}

/* RTL Support */
html[dir='rtl'] {
	.text-left {
		text-align: right !important;
	}

	.text-right {
		text-align: left !important;
	}
}
