@font-face {
	font-family: Vazir;
	src: url('./Vazir-Light-FD.eot');
	src:
		url('./Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
		url('./Vazir-Light-FD.woff2') format('woff2'),
		url('./Vazir-Light-FD.woff') format('woff'),
		url('./Vazir-Light-FD.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Vazir;
	src: url('./Vazir-Thin-FD.eot');
	src:
		url('./Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'),
		url('./Vazir-Thin-FD.woff2') format('woff2'),
		url('./Vazir-Thin-FD.woff') format('woff'),
		url('./Vazir-Thin-FD.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
